@model TrananMVC.ViewModel.CreatedReservationViewModel

<h4>Din reservation</h4>

<h4>Film:</h4>@Model.MovieTitle
<h4>För och efternamn: @Model.FirstName @Model.LastName</h4>
<h4>Reservationskod:</h4>@Model.ReservationCode
