@model List<TrananMVC.ViewModel.MovieViewModel>

<div class="menu">
    <a href="/home/movies">Alla filmer</a>
    <a href="/schema/index">Biljetter</a>
    <a href="/home/aboutus">Om oss</a>
</div>

@foreach (var movie in Model)
{
    <div class="movie-list">
        <li>
            <a asp-controller="Movie" asp-action="Details" asp-route-movieId="@movie.MovieId">
                <img src="@Html.Raw(movie.ImageUrl)" />
            </a>
        </li>
    </div>
}
