.menu {
    display: flex;
    justify-content: center;
}

.menu a {
    color: black;
    font-size: 24px;
    margin: 0 10px;
}

a
{
    text-decoration: none;
    border-bottom: none;
}
li
{
    list-style: none;
}

.movies-header {
    text-align: center;
}

.movies-container {
    display: flex;
    justify-content: center; /* add this */
    overflow-x: scroll;
    gap: 20px;
  }
  
  .movie-poster img {
    width: 200px; 
    height: auto;
    margin-top: 50px;  
  }
  