@{
    ViewData["Title"] = "Om oss";
}
<h1>@ViewData["Title"]</h1>

<div class="menu">
    <a href="/home/movies">Alla filmer</a>
    <a href="/schema/index">Biljetter</a>
    <a href="/home/aboutus">Om oss</a>
</div>

<p>
    <b>Besök oss</b>
    Biografgatan 4
    Tranemo 
    <b>Ring oss</b>
    033-101010
</p>
