@model TrananMVC.ViewModel.MessageViewModel

<div class="text-container">
    <h2>@Model.Message</h2>

    <a href="@Model.OriginUrl">Försök igen</a>
    <br>
    <a href="@Model.RedirectUrl">Till startsidan</a>
</div>
