@model List<TrananMVC.ViewModel.MovieScreeningViewModel>
@{
    ViewData["Title"] = "Bio Tranan";
}

<div class="text-center">
    <h1 class="display-4">Bio Tranan</h1>
</div>

<div class="menu">
    <a href="/home/movies">Alla filmer</a>
    <a href="/home/schema">Biljetter</a>
    <a href="/home/aboutus">Om oss</a>
</div>

<div class="currentmovies">
    <div class="movies-header">
        <h3>Filmer på bio just nu</h3>
    </div>
    <div class="movies-container">
        @foreach (var movieScreening in Model)
        {
            <div class="movie-poster">
                <a asp-controller="Movie" asp-action="About" asp-route-movieId="@movieScreening.Movie.MovieId">
                    <img src="@Html.Raw(movieScreening.Movie.ImageUrl)" />
                </a>
            </div>
        }
    </div>
</div>



