@model List<TrananMVC.ViewModel.MovieScreeningViewModel>

<h2 class="text-container">Visade filmer senaste månaden</h2>

<table>
    <thead>
        <tr class="text-container">
            <th>Film</th>
            <th>Lämna omdömde</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var screening in Model)
        {
            <tr class="text-container">
                <td>@screening.MovieTitle</td>
                <td>
                     <a asp-controller="Movie" asp-action="Review"
                            asp-route-movieScreeningId="@screening.MovieScreeningId">
                            <button id="button">Till review</button>
                        </a>
                </td>
            </tr>
        }
    </tbody>
</table>